<div class="container" ng-controller="HeaderCtrl">
<div class="pull-left margin logo">
<a href=""><img src="img/site-logo.png" alt="Unified Dashboard" title="Unified Dashboard"/></a>
</div>
<div class="pull-right">
<div class="welcome">
<div class="pull-left marginTop">
<p class="userPix"><img src="img/userImg.png" alt="User Image"></p>
<p class="userInfo"><span class="userName">Stevan Stefens</span></p>
</div>
<div class="pull-left marginTopOne">
<span class="divider">&nbsp;</span>
<span><a href="javascript:void();"><img src="img/settings.png" alt="Settings" title="Settings"/></a></span>
<span class="divider">&nbsp;</span>
<span><a href="javascript:void();"><img src="img/help.png" alt="Help" title="Help"/></a></span>
<span class="divider">&nbsp;</span>
<span><a href="javascript:void();"><img src="img/logout.png" alt="Logout" title="Logout"/></a></span>
<span class="divider">&nbsp;</span>
</div>
</div>
</div>
<div class="clr"></div>
<div class="pull-left marginTB col-xs-16 padding">
<span class="font-bld">From:</span>&nbsp;<input type="text" id="txtFromDate" ui-date-format="yy-mm-dd" ng-model="ngModel" ui-date="dateOptions" />&nbsp;&nbsp;<span><img src="img/calendar-icon.png" /></span>&nbsp;
<span class="font-bld">To: </span>&nbsp;<input type="text" id="txtToDate" />&nbsp;&nbsp;<span><img src="img/calendar-icon.png" /></span>
</div>
</div>

